<div class="">
    <!--Inicio video --> 
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/QxBKXiVxWVE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <!--CARD-->
        <div class="container card border-success mb-3 mt-2" style="max-width: 80%;">
            <div class="card-header" _msthash="1660672" _msttexthash="106600">
                <li class="btn nav-item"><a [routerLink]="['/inicio']" class="nav-link">Hortalizas</a></li>
            </div>
            <div class="card-body">
              <h4 class="card-title" _msthash="1919554" _msttexthash="674297">Título de la tarjeta de éxito</h4>
              <p class="card-text" _msthash="1885819" _msttexthash="8501909">Un ejemplo rápido de texto para construir sobre el título de la tarjeta y componer la mayor parte del contenido de la tarjeta.</p>
            </div>
        </div>

        <div class="container card border-success mb-3 mt-2" style="max-width: 80%;">
            <div class="card-header" _msthash="1660672" _msttexthash="106600">
                <li class="btn nav-item"><a [routerLink]="['/inicio']" class="nav-link">Verduras</a></li>
            </div>
            <div class="card-body">
              <h4 class="card-title" _msthash="1919554" _msttexthash="674297">Título de la tarjeta de éxito</h4>
              <p class="card-text" _msthash="1885819" _msttexthash="8501909">Un ejemplo rápido de texto para construir sobre el título de la tarjeta y componer la mayor parte del contenido de la tarjeta.</p>
            </div>
        </div>

        <div class="container card border-success mb-3 mt-2" style="max-width: 80%;">
            <div class="card-header" _msthash="1660672" _msttexthash="106600">
                <li class="btn nav-item"><a [routerLink]="['/inicio']" class="nav-link">Legunbres</a></li>
            </div>
            <div class="card-body">
              <h4 class="card-title" _msthash="1919554" _msttexthash="674297">Título de la tarjeta de éxito</h4>
              <p class="card-text" _msthash="1885819" _msttexthash="8501909">Un ejemplo rápido de texto para construir sobre el título de la tarjeta y componer la mayor parte del contenido de la tarjeta.</p>
            </div>
        </div>

        <div class="container card border-success mb-3 mt-2" style="max-width: 80%;">
            <div class="card-header" _msthash="1660672" _msttexthash="106600">
                <li class="btn nav-item"><a [routerLink]="['/inicio']" class="nav-link">Frutas</a></li>
            </div>
            <div class="card-body">
              <h4 class="card-title" _msthash="1919554" _msttexthash="674297">Título de la tarjeta de éxito</h4>
              <p class="card-text" _msthash="1885819" _msttexthash="8501909">Un ejemplo rápido de texto para construir sobre el título de la tarjeta y componer la mayor parte del contenido de la tarjeta.</p>
            </div>
        </div>
        <!--Final de Card -->
</div>
