<div class="col-3 mx-auto">
  <div class="nauk-info-connections text-center">
    <form>
      <fieldset>
        <legend _msthash="2821117" _msttexthash="92430">Login</legend>

        <div class="form-group">
          <label
            for="exampleInputEmail1"
            _msthash="3205449"
            _msttexthash="868153"
            >Dirección de correo electrónico</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Introducir correo electrónico"
            _mstplaceholder="802919"
          />
          <small
            id="emailHelp"
            class="form-text text-muted"
            _msthash="130767"
            _msttexthash="2221635"
            >Nunca compartiremos tu correo electrónico con nadie más.</small
          >
        </div>
        <div class="form-group">
          <label
            for="exampleInputPassword1"
            _msthash="3206320"
            _msttexthash="182013"
            >Contraseña</label
          >
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Contraseña"
            _mstplaceholder="182013"
          />
        </div>

        <button
          type="submit"
          class="btn btn-primary"
          _msthash="2905955"
          _msttexthash="76830"
        >
          Enviar
        </button>
      </fieldset>
    </form>
  </div>
</div>
