<nav class="row navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="col-lg-3 navbar-header navbar-dark bg-primary">
            <a class="navbar-brand" href="#">Web {{ nombre }}</a>
        </div>
          
        <ul class="nav nav-justified">
            <li class="nav-item"><a [routerLink]="['/inicio']" class="nav-link">Inicio</a></li>
            <li class="nav-item"><a [routerLink]="['/login']" class="nav-link">Login</a></li>
            
            <li class="nav-item"><a [routerLink]="['/contacto']" class="nav-link">Contacto</a></li>
            <li class="nav-item"><a [routerLink]="['/cuerpo']" class="nav-link">Cuerpo</a></li>
        </ul>      
    </div>
</nav>
