<nav class="row navbar navbar-default navbar-fixed-top">
    <div class="container-fluid ">

        <div class="col-lg-3 navbar-header text-dark">
            <a class="navbar-brand" href="/">{{ nombre }}</a>
        </div>
        
        <div class="container card border-success mb-3" style="max-width: 20rem;">
            <div class="card-header" _msthash="1660672" _msttexthash="106600">
                <li class="btn nav-item"><a [routerLink]="['/inicio']" class="nav-link">Inicio</a></li>
            </div>
            <div class="card-body">
              <h4 class="card-title" _msthash="1919554" _msttexthash="674297">Título de la tarjeta de éxito</h4>
              <p class="card-text" _msthash="1885819" _msttexthash="8501909">Un ejemplo rápido de texto para construir sobre el título de la tarjeta y componer la mayor parte del contenido de la tarjeta.</p>
            </div>
        </div>

        <div class="container card border-success mb-3" style="max-width: 20rem;">
            <div class="card-header" _msthash="1660672" _msttexthash="106600">
                <li class="btn nav-item"><a [routerLink]="['/inicio']" class="nav-link">Inicio</a></li>
            </div>
            <div class="card-body">
              <h4 class="card-title" _msthash="1919554" _msttexthash="674297">Título de la tarjeta de éxito</h4>
              <p class="card-text" _msthash="1885819" _msttexthash="8501909">Un ejemplo rápido de texto para construir sobre el título de la tarjeta y componer la mayor parte del contenido de la tarjeta.</p>
            </div>
        </div>

        <div class="container card border-success mb-3" style="max-width: 20rem;">
            <div class="card-header" _msthash="1660672" _msttexthash="106600">
                <li class="btn nav-item"><a [routerLink]="['/inicio']" class="nav-link">Inicio</a></li>
            </div>
            <div class="card-body">
              <h4 class="card-title" _msthash="1919554" _msttexthash="674297">Título de la tarjeta de éxito</h4>
              <p class="card-text" _msthash="1885819" _msttexthash="8501909">Un ejemplo rápido de texto para construir sobre el título de la tarjeta y componer la mayor parte del contenido de la tarjeta.</p>
            </div>
        </div>

        <div class="container card border-success mb-3" style="max-width: 20rem;">
            <div class="card-header" _msthash="1660672" _msttexthash="106600">
                <li class="btn nav-item"><a [routerLink]="['/inicio']" class="nav-link">Inicio</a></li>
            </div>
            <div class="card-body">
              <h4 class="card-title" _msthash="1919554" _msttexthash="674297">Título de la tarjeta de éxito</h4>
              <p class="card-text" _msthash="1885819" _msttexthash="8501909">Un ejemplo rápido de texto para construir sobre el título de la tarjeta y componer la mayor parte del contenido de la tarjeta.</p>
            </div>
        </div>
        <!-- -->
        <ul class="nav nav-justified">
            <li class="nav-item"><a [routerLink]="['/inicio']" class="nav-link">Inicio</a></li>
            <li class="nav-item"><a [routerLink]="['/login']" class="nav-link">Login</a></li>
            
            <li class="nav-item"><a [routerLink]="['/contacto']" class="nav-link">Contacto</a></li>
            <li class="nav-item"><a [routerLink]="['/cuerpo']" class="nav-link">Cuerpo</a></li>
        </ul>      
    </div>
</nav>
